<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <style>
        body {
            background-color: lavenderblush;
            font-family: monospace;
        }
        h1 {
            text-align: center;
        }

        a {
            text-decoration: none;
            color: black;
        }
        div {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1>¡Bienvenido a tus contactos!</h1>
    <p>
        En esta página podrás guardar toda la información que necesites sobre tus contactos
    </p>
    <div>
        <a href="{{ url_for('agregar') }}">
            <button type="button">Agregar un contacto</button>
        </a>
        <a href="{{ url_for('listar') }}">
            <button type="button">Ver lista de contactos</button>
        </a>
    </div>
</body>
</html>