{% extends './base/index.html' %}

{% block content %}

<p>
    Los datos del contacto son los siguientes: 
    <ul>
        <li><strong>Nombre: </strong>{{ contacto['nombre'] }}</li>
        <li><strong>Apellido: </strong>{{ contacto['apellido'] }}</li>
        <li><strong>Teléfono: </strong>{{ contacto['telefono'] }}</li>
        <li><strong>Correo: </strong>{{ contacto['correo'] }}</li>
        <li><strong>Dirección: </strong>{{ contacto['direccion'] }}</li>
    </ul>
</p>

{% endblock %}